html {
    color: fuchsia;
}

body {
    color: blue;
    background-color: orange;
}


h1 {
    color: purple;
    background-color: cornsilk;
    font-family: 'arial';
    font-weight: 200;
}

h2 {
    font-family: sans-serif;
    font-weight: 100;
}


h3 {
    font-family: sans-serif;
    font-weight: 100;
}

.cis-260 {
    color: darkorange;
}



.test {
    background-color: cadetblue;
    color: chartreuse;
}

.test2 {
    background-color: aqua;
}

p {
    color: deeppink;
    background-color: peachpuff;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 48pt;
}


#special-paragraph-3 {
    color: cornflowerblue;
}


body p a {
    font-family: cursive;
}

a {
    color: mediumturquoise;
    font-family: sans-serif;
    font-weight: 100;
}
